<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <display-name>myapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>myapp.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>test1</servlet-name>
    <servlet-class>myapp.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test1</servlet-name>
    <url-pattern>/test1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>formProcess</servlet-name>
    <servlet-class>myapp.FormProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>formProcess</servlet-name>
    <url-pattern>/form-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showParams</servlet-name>
    <servlet-class>myapp.ShowParametersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showParams</servlet-name>
    <url-pattern>/show-params</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showHeaders</servlet-name>
    <servlet-class>myapp.ShowRequestHeadersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showHeaders</servlet-name>
    <url-pattern>/show-headers</url-pattern>
  </servlet-mapping>
</web-app>